
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 18, 18);
}

.containerheader  {
    max-width: 1500px;
    max-height: 100vh;
} 

.containercabeçalho {
    width: 1250px;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

section {
    width: 1250px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.boxperfils {
    width: 700px;
    height: auto;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.profile img:hover {
    transform: scale(1.3);
    transition: 1s;
}

.texto1 {
    margin-top: 55px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.user {
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.user:hover {
    filter: brightness(1.3);
}

.profile {
    height: 160px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    box-sizing: border-box;
}

.profile:hover {
    border: 2px white solid;
}

.Gerenciar {
    width: 1250px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}

span {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 45px;
}

span {
    color: #9C9C9C;
}

.Gerenciar {
    display: flex;
    justify-content: center;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

button h2 {
    padding-top: 0px;
    color: white;
    background-color: rgb(19, 18, 18);
    border: 0.5px white;
    width: 206px;
    height: 50px;
    border-radius: 8px;
}

button:hover h2  {
    transition: 1.5s;
    color: black;
    background-color: white;
    border: 1px black;
}